/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900,900i');

html {
	overflow-x: hidden;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
	color: #454545;
	font-size: 16px;
	padding-top:100px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 !important;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size:12px;
}
ul {
	list-style: none;
	margin: 0;
	padding:0;
}
p {
	margin: 10px 0;
	font-size: 14px;
}
hr {
	margin: 10px 0;
}
img {
	max-width: 100%;
}
a:focus, a:hover, button:focus {
	outline: none;
	text-decoration: none;
}
a, a:hover, button, button:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
input, select, select option, textarea, input:focus, select:focus, textarea:focus {
	outline: none;
	font-size: 0.875em;
}
input[type=radio] {
	margin-right: 5px;
}
.form-control, .form-control:focus {
	border-radius: 0;
	box-shadow: none;
}
.form-control:focus {
	border-color: #999;
}
textarea.form-control {
	height: 180px;
}
.mrgb-10 {
	margin-bottom: 10px !important
}
.mrgb-20 {
	margin-bottom: 20px !important
}
.mrgb-30 {
	margin-bottom: 30px !important
}
.mrgb-40 {
	margin-bottom: 40px !important
}
.mrgt-10 {
	margin-top: 10px !important
}
.mrgt-20 {
	margin-top: 20px !important
}
.mrgt-30 {
	margin-top: 30px !important
}
.mrgt-40 {
	margin-top: 40px !important
}
.active-text, .active-link {
	color: #3f93bb;
}
.active-link:hover {
	text-decoration: underline;
}
.btn-all{
	border-radius:3px;
}
.btn-all, .btn-all:focus {
	display: inline-block;
	background: #3f93bb;
	color: #fff;
	padding: 8px 12px;
	border: none;
}
.btn-all i {
	margin-right: 10px;
}
.btn-all:hover {
	background: #7aa527;
	color: #fff;
}
/*-- global styles end --*/
.navbar-toggle{
	margin-top:30px;
}
.navbar-brand{
	height:auto;
	position:relative;
}
.navbar-brand span{
	position:absolute;
	left:124px;
	color:#fff;
	font-size:12px;
	bottom:15px;
}
.nav > li{
	margin:24px 5px;
}
.nav > li > a.nav_btn{
background-color:#3f93bb !important;
border-radius:5px !important;
color:#fff !important;
}
.nav > li > a.nav_btn:hover{
	background-color:#3b5998 !important;
color:#fff !important;
}
.banner,.middle-section{
	/**background:url(../images/backbanner.jpg) no-repeat;**/
	background-color:#3f93bb;
	
	background-size:cover;
	min-height:500px;
	background-attachment:fixed;
}


/*-- top-form  --*/
.why_chose{
	max-width:500px;
	float:left;
	padding:100px 20px;
}
.why_chose h1{
	font-size:46px;
	color:#ffffff;
	margin-bottom:30px !important;
}
.why_chose p, .why_chose ul li{
	color:#fff;
	font-size:14px;
}
.why_chose ul{
	margin-top:30px;
}
.why_chose ul li{
	font-size:16px;
	margin:10px 0;
}

.top_form {
	padding:60px 0;
	margin:0 auto;
	width:348px;
	color:#fff;
}

.top_form h1 {
	padding:0 0 20px 0;
	margin:0;
	font-size:32px;
	font-weight:700;
}


.top_form p {
	padding:0 0 0 0;
	margin:0;
	font-size:16px;
	font-weight:600;
}
.top_form h5 {
	padding:7px 0 0 0;
	margin:0;
	font-size:11px;
	font-weight:400;
	line-height:15px
}
.top_form h5 a {
	color:#7aa527;
}
.top_form label {
	padding:0 0 0 28px;
	font-weight:300;
}

.top_form label input[type="radio"] {
	margin:2px 7px 0 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.small_input {
	width:170px;
}
.search_input {
	width:240px;
	    margin-left: 150px;
}

.top_form input[type="text"], .top_form input[type="email"], .top_form input[type="password"], .top_form select {
	width:100%;
	margin:15px 0 0 0;
	padding:0;
	border:none;
	background:#fff;
	height:38px;
	border-radius:3px;
	text-indent:10px;
	font-size:16px;
	color:#666;
}
.search_form input[type="text"]{
	
	width:100%;
	margin:25px 0 0 0;
	padding:0;
	border:none;
	background:#fff;
	height:38px;
	border-radius:3px;
	text-indent:10px;
	font-size:16px;
	color:#666;
	
}

.top_form input[type="checkbox"]{
	
	 margin-top: 19px !important;
    margin-right: 12px !important;
	
}

.search_button {
	width:6%;
	margin:25px 0 0 0;
	padding:0;
	border:none;
	background:#3b5998;
	color:#fff;
	cursor:pointer;
	font-weight:600;
	height:38px;
	border-radius:5px;
	font-size:16px;
	border-bottom:2px solid #3b5998;
}

.top_form input[type="submit"] {
	width:100%;
	margin:15px 0 0 0;
	padding:0;
	border:none;
	background:#3b5998;
	color:#fff;
	cursor:pointer;
	font-weight:600;
	height:38px;
	border-radius:5px;
	font-size:16px;
	border-bottom:2px solid #3b5998;
}
.top_form input[type="submit"]:hover {
	opacity:0.8;
}
.or {
	padding:10px 0;
}
.or img {
	width:100%;
}
.fb_btn {
	width:100%;
	margin:15px 0 0 0;
	padding:0;
	border:none;
	background:#3b5998;
	color:#fff;
	cursor:pointer;
	font-weight:600;
	height:38px;
	border-radius:5px;
	font-size:16px;
	border-bottom:2px solid #29487d;
	line-height:38px;
}
.fb_btn:hover {
	opacity:0.8;
}
.fb_btn a {
	color:#fff;
}

.fb_btn i {
	font-size:24px;
	margin:8px 48px 0 18px;
	float:left;
}

/*-- footer --*/
footer{
	background-color:#222;
	padding:10px 0;
}
.copyright{
	color:#eee;
	font-size:12px;
	float:left;
}
.foot-social{
	float:right;
}
.foot-social li{
	display:inline-block;
	margin:10px 5px;
}
.foot-social li a{
	color:#ccc;
	font-size:24px;
}
.foot-social li a:hover{
	color:#fff;
}

.inner-top-link > li{
	display:inline-block;
	margin:30px 5px;
}
.inner-top-link > li > a{
	display:inline-block;
	padding:7px 10px;
	border-radius:3px;
	background:#3f93bb;
	color:#fff;
}
.inner-top-link > li > a i{
	margin-left:5px;
}
.middle-section{
	position:relative;
	min-height:700px;
}
.middle-section .container{
	background:rgba(255,255,255,0.75);
	min-height:700px;
}
.inner-middle{

	min-height:700px;
	padding-top:15px;

}
.inner-left, .inner-right{
	padding-top:15px;
}
.user-profile{
	background:rgba(255,255,255,0.75);
	padding:15px;
}
.user-profile .img-holder{
	margin:15px 0;
	text-align:center;
}
.user-profile .text-holder
{
	text-align:center;
	padding:5px;
}
.nav-tabs > li{
	margin-top:0;
}
.nav-tabs>li>a{
	color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #fff;
    background-color: #3f93bb;
    border: 1px solid #ddd;
}
.inner-middle{
	border-right:1px solid #bbb;
	border-left:1px solid #bbb;
}
.post_block{
	background:rgba(255,255,255,0.75);
	padding:10px 15px;
	margin-bottom:20px;
}
.post-author{
	margin:10px 0;
}
.post-author .img-holder{
	width:50px;
	height:50px;
	border:1px solid #ccc;
	box-shadow:0px 0px 0px rgba(0,0,0,0.45);
	float:left;
	overflow:hidden;
}
.post-author .text-holder{
	margin-left:65px;
	padding:10px 0;
}
.post-author .text-holder h4{
	margin-bottom:5px !important;
}
.post-author .text-holder p{
	margin:5px 0 !important;
	font-size:12px;
}
.post-author .text-holder p span{
	margin:0 10px;
}
.post-desc{
	margin:10px 0;
	border-bottom:1px solid #ddd;
}
.post-desc h1{
	font-size:20px;
	margin-bottom:20px !important;
}
.post-foot p{
	display:inline-block;
	margin-right:30px;
}
.post-foot p:last-child{
	margin-right:0;
}
.post-foot p i{
	color:#999;
	font-size:20px;
	margin-right:10px;
}

.post-foot p span{
	margin-right:10px;
}
.post-foot p.like i{
	cursor:pointer;
}
.post-foot p.like i:hover, .post-foot p.like.liked i
{
	color:#3f93bb;
}
.leave-comment{
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px;
	margin:10px 0;
}
.leave-comment h4{
	margin-bottom:10px !important;
}
.leave-comment textarea{
	width:100%;
	height:70px;
	border-color:#ddd;
	padding:10px;
}
.comments-wrap{
	margin:10px 0;
	border-top:1px solid #ccc;
}
.single-comment{
	padding:10px 0;
	margin:10px 0;
	border-bottom:1px solid #eee;
}
.single-comment .img-holder{
	float:left;
	width:40px;
	height:40px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:1px solid #ddd;
	overflow:hidden;
}
.single-comment .text-holder{
	margin-left:55px;
}
.single-comment .text-holder h4{
	margin-bottom:10px !important;
}
.single-comment .text-holder h4 span{
	font-size:12px;
	margin-left:20px;
}
.navbar-nav>li>a {
   padding-top: 9px !important; 
     padding-bottom: 9px !important; 
}


.dataTables_wrapper {
	margin-top:50px !important;
	margin-bottom:50px !important;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ddd !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}


#example thead{
	
	
	background-color:#dc9f17;}
	
.pagination>.active>a{
	background-color:#dc9f17 !important;
	border-color:#dc9f17 !important
}
#example_info, #example_length, #example_filter{
	
	color:#fff !important;
}


.nav>li>a>img {
	
	max-width:40px !important;
}

/*-- responsive css --*/
@media only screen and (max-width:991px)
{
	.why_chose{
		max-width:300px;
		padding:60px 0;
	}
	.why_chose h1{
		font-size:32px;
		
	}
}
@media only screen and (max-width:767px)
{
	.inner-top-link{
		float:none !important;
	}
}
@media only screen and (max-width:700px)
{
	body{
		padding-top:84px;
	}
	.navbar-brand>img{
		max-width:200px;
	}
	.why_chose{
		width:400px;
		padding:30px 0;
		margin:0 auto;
		float:none !important;
	}
	
	.top_form{
		float:none !important;
		
	}
	
}
@media only screen and (max-width:500px)
{
	.top_form{
		width:100%;
		padding:30px 0;
	}
	.small_input{
		float:none;
		width:100%;
	}
	.why_chose{
		width:100%;
		padding:30px 0;
	}
	.copyright, .foot-social, .foot-social li{
		float:none;
		text-align:center;
		margin:10px 5px;
	}
	.foot-social{
		margin:0;
	}
}

